section > .container, section > .container-fluid {
    padding-top: 60px;
    padding-bottom: 60px;
}
.question-content-number {
    display: inline-block;
}
.question-content-number > h6 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    padding: 6px 26px 11px;
    margin: 0;
}
.question-icon {
    background-color: #ffb52f;
    display: inline-block;
    float: left;
    padding: 10px 14px 10px 13px;
}
.question-icon i {
    color: #001232;
    display: inline-block;
    font-size: 30px;
}
.question-contact {
    background-color: #001232;
    display: inline-block;
    margin: 10px 0 0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.banner-content {
    background-color: #f7f8fa;
}
.overview-content > h2 > span {
    font-weight: 700 !important;
}
.banner-content h2 {
    color: #e9e9e9;
    font-size: 180px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}
.overview-content h1 {
    color: #001232;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.overview-content h2 {
    color: #001232;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.font-family {
    font-family: 'Oswald', sans-serif;
}
.question-area > h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #001232;
}
.question-area {
    margin-top: 30px;
}
.heavy-bike {
    height: 400px;
    width: 500px;
}
.heavy-bike-img:hover {
    transition-duration: 3s;
    transition-delay: 0.5s;
    -webkit-transform: rotate(45deg);
}
.overview-content > h2 {
    margin: 6px 0 40px;
}
.overview-content > p {
    font-family: 'Poppins', sans-serif;
}
.font-weight-600 {
    font-weight: 600;
}
.btn-search {
    color: #ffb52f !important;
    border: 1px solid #ffb52f !important;
}
.btn-search:hover {
    color: black !important;
    background-color: #ffb52f;
}
.form-control:focus {
    border-color: #ffb52f !important; 
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important;
}
.fixed {
    position: fixed;
    top:0; 
    left:0;
    right: 0;
    z-index: 9999;
    background-color: white;
    width: 100%; 
}
.header-contact > p {
    color: #787878;
    letter-spacing: 0.25px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}
.header-contact > p > span {
    font-weight: 600;
}
.header-contact > p > a {
    font-weight: 600;
}
.logo > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #001232;
}
.yellow {
    color:#ffb52f;
}
.orange-shade {
    background: linear-gradient(to left, #ffb52f , orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.pt-20 {
    padding-top: 20px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-50 {
    padding-bottom: 50px;
}
.link-mail {
    color:#ffb52f;
}
a:hover {
    color: #001232 !important;
}
.banner-wrapper {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.banner-area {
    background-color: #e9e9e9;
}
.banner-area-content {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    padding: 10px;
}
.banner-area-content > h6 {
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: .3px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.banner-wrapper::before {
    position: absolute;
    content: "";
    background-color: #001232;
    opacity: .65;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.banner-wrapper:hover::after {
    left: 20px;
    bottom: 20px;
    right: 20px;
    top: 20px;
}
.banner-wrapper::after {
    border: 1px solid #76818c;
    bottom: 40px;
    content: "";
    left: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    transition: all 0.4s ease 0s;
    z-index: 9;
    pointer-events: none;
}
.section-title > h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #001232;
    font-family: 'Oswald', sans-serif;
}
.section-title > p {
    font-family: 'Oswald', sans-serif;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.product-wrapper {
    position: relative;
    box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
.p-30 {
    padding: 30px;
}
.product-content-wrapper {
    padding-top: 15px;
}
.product-wrapper > h6 {
    font-size: 14px;
    color: #9b9b9b;
    font-family: 'Oswald', sans-serif;
}
.product-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.product-title-spread > h4 {
    display: flex;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: #303030;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
}
.product-title-spread > span {
    display: flex;
    color: #9b9b9b;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.product-price > span {
    font-size: 19px;
    color: #303030;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.nav-pills .nav-link.active {
    color: #001232 !important;
    background-color: #ffb52f !important;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0 10px;
    padding: 11px 26px 12px;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.nav-item .nav-tabs {
    color: #001232;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin: 0 10px;
    padding: 11px 26px 12px;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.15);
}
.parallax {
    /* The image used */
    background-image: url("/assets/img/parallex.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title > h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    color: #001232;
    margin-top: 0px;
    font-style: normal;
}
.product-wrapper {
    position: relative;
    box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
.product-action {
    text-align: center;
    transition: all 0.3s ease 0s;
    z-index: 99;
    padding: 10px;
}
.blog-img > img {
    transition: transform .2s;
    opacity: 0.5;
}

.blog-img img:hover {
    -webkit-transform: scale(1.1);
    opacity: 1; 
}
.blog-title > h3 {
    color: #353535;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.blog-title > h3:hover {
    color: #ffb52f;
    cursor: pointer;
}
.theme-bg {
    background: #001232;
}
.footer-widget-title > h3 {
    color: #e4e4e4;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 26px;
}
.quick-links a {
    color: #919191;
    font-size: 15px;
    font-weight: 300;
}
.quick-links ul {
    padding-left: 26px;
}
.quick-links ul li {
    padding-bottom: 14px;
    position: relative;
}
.quick-links > ul > li > a {
    text-decoration: unset;
}
.quick-links ul li:hover a {
    color:#ffb52f !important;
}
.quick-links ul li::before {
    background: #51555d none repeat scroll 0 0;
    content: "";
    height: 10px;
    left: -20px;
    position: absolute;
    top: 6px;
    width: 10px;
    z-index: 999;
    transition: all .3s ease 0s;
}
.footer-description {
    color: white;
}
.footer-description > h1 {
    font-size: 1.5rem;
}
.footer-description > p {
    line-height: 1.5; 
    color: #919191;
    font-size: 15px;
}
.footer-widget-title > p {
    color: #919191;
    font-size: 15px;
}
.footer-widget-title > p > a:hover {
    color: #ffb54d !important;
    text-decoration: none;
}
.single-tweet > p a {
    color: #a7a7a7;
}
.black-bg {
    background: #061124;
}
.ptb-35 {
    padding: 35px 0;
}
.copyright > p {
    color: #919191;
    line-height: 20px;
    margin: 0;
} 
.copyright > p a {
    color: #ffb52f;
    font-weight: 600;
}
.footer-widget-title > p > a {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 600;
}
.about-banner-img > img {
    width: 100%;
    height: auto;
}
.about-banner-img > h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.team-img {
    height: 300px;
}
.team-img > img {
    width: 100%;
    height: 100%;
}
.team-img > img {
    -webkit-filter: grayscale(0%); /* For Webkit browsers */
    -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
    -moz-filter: grayscale(0%); /* For Firefox */
    -moz-transition: .5s ease-in-out; /* For FireFox */
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out; 
}

.team-img > img:hover {
  -webkit-filter: grayscale(100%); /* For Webkit browsers */
  -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
  -moz-filter: grayscale(100%); /* For Firefox */
  -moz-transition: .5s ease-in-out; /* For Firefox */
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}
.team-content {
    margin-top: 15px;
}
.team-content > h4 {
    color: #292929;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
    font-family: 'Oswald', sans-serif;
}
.team-content > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Oswald', sans-serif; 
}
.banner-bg {
    background: #061124;
    padding: 150px;
}
.banner-bg > h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.align-center {
    justify-content: center;
    display: flex;
}
.communication-info {
    background-color: #f7f7f7;
    margin-right: 80px;
    padding: 54px 35px;
}
.contact-title {
    color: #353535;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.contact-title::before {
    background-color: #ffb52f;
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 59px;
}
.communication-text > p a {
    color: #666;
}
.communication-text > p {
    color: #666;
}
.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: auto !important;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: auto !important; 
}
.contact-form-style > input {
    background-color: #f7f7f7;
    border: none;
    font-weight: 500;
    font-size: 13px;
    color: #7d7d7d;
    padding: 0 15px;
    height: 50px;
    width: 100%;
}
.contact-form-style > textarea {
    background-color: #f7f7f7;
    border: medium none;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 500;
    height: 190px;
    width: 100%;
    padding: 20px 15px;
}
.btn-style {
    background-color: #ffb52f;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 14px 33px 12px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
    overflow: hidden;
    z-index: 99;
    margin-top: 40px;
}
@media only screen and (max-width: 767px) and (min-width: 320px)
{
.banner-content h2 {
    font-size: 37px;
}
.product-wrapper {
    margin-bottom: 15px;
}
.product-wrapper > img {
    height: 180px !important;
    width: 230px !important; 
}
.communication-info {
    width: 100%;
}
}